body {
  background-color: #bbe1fa;
}

h1 {
  color: #0f4c75;
}

h3 {
  color: #0f4c75;
}

img {
  
  height: 15%;
}

hr {
  border-style: dotted none none;
  border-color: #3282b8;
  border-width: thick;
  width: 10%;
}
